<routes xmlns="http://camel.apache.org/schema/spring">
    <route id="files">
        <description>files</description>
        <from uri="file:{{input.path}}?idempotent=true&amp;preMove={{processing.path}}&amp;move={{processed.path}}/${date:now:yyyyMMdd}/${file:name}&amp;moveFailed={{error.path}}/${file:name.noext}-${date:now:yyyyMMdd}.${file:ext}"/>
        <log loggingLevel="INFO" message="Starting  ${headers.CamelFileName} File Processing"/>
        <doTry>
            <to uri="bean:fileProcessor?method=processFile"/>
            <doCatch>
                    <exception>java.lang.Exception</exception>
                    <log loggingLevel="ERROR" message="Error occurred while processing ${headers.CamelFileName} File "/>
            </doCatch>
            <convertBodyTo type="String"/>
            <recipientList>
                <simple>
                    file:{{report.path}}/${date:now:yyyyMMdd}?fileName=${file:name}.report&amp;charset=utf-8
                </simple>
            </recipientList>
        </doTry>
        <log loggingLevel="INFO" message="Completed  ${headers.CamelFileName} File Processing Successfully with statistics: ${body}"/>
    </route>
</routes>